cite {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    color: var(--headingBlack);
}

.space-between {
    height: 100%;
    padding: 0 3vw;
}

.space-between .social-icons {
    display: flex;
    width: 10%;
    flex-direction: row;
    justify-content: space-between;
}

.social-icons a {
    width: fit-content;
    font-size: 2vw;
    color: var(--iconSocial);
}