nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    padding: 2rem;
}

nav ul li > a {
    text-decoration: none;
}
