* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;    
}

html {
    font-size: 16px;
}

h1 {
    font-size: 3vw;
}

body {
    
}


