<div class="overlay"></div>
<main>
    <section class="intro">
        <h2>Who am I?</h2>
        <img src="../../../assets/study-cases/Luigi-profile-Portfolio.png" alt="">

    </section>
    <section class="description">
        <pre>
            I am a multimedia design student who loves creativity, curiosity, and
            at the same time, a person who generally enjoys working together with others.

            I consider myself to be a very simple person, talkative, (sometimes too little, sometimes too much) and
            open-minded.
            Honesty and loyalty are very important values for who I truly am, and I love to trust people I work with.

            That's the environment in which I work the best in.

            My big goal is to help people, whatever environment or work I am dealing with.
            In my case, helping people would mean to create products and services that are accessible
            and perceived by users, as clean and as intuitive as possible. 

            I think to myself to be quite empathic towards others, therefore I am capable most times
            to understand what the needs and issues are to be tackled. 

            However, I will tell you a bit more about my self down below :)

        </pre>
    </section>

</main>

<section class="passions">
    <h3>My passions</h3>

    <div class="passion-article">
        <div class="passion-article-general">
            <img src="../../../assets/study-cases/Cooking.png" alt="">
            <p>I love cooking, it me feel relaxed, easy to spend a lot of time on it
                just to see how the result is, and make it better
                </p>
        </div>
        <div class="passion-article-general">
            <img src="../../../assets/study-cases/Racing.png" alt="">
            <p>Sim-racing is one of my other passions, which really brings
                out my competitive side</p>
        </div>
        <div class="passion-article-general">
            <img src="../../../assets/study-cases/Travelling.png" alt="">
            <p>Travelling in my head translates to meeting new people and sharing
                thoughts, ideas and especially learning.
                </p>
        </div>
        <div class="passion-article-general">
            <img src="../../../assets/study-cases/Playing.png" alt="">
            <p>One of my other passions is playing music, although I'm hard on myself
                when some notes are out of tune, but always looking for precision.
                </p>
        </div>
    </div>

    <div class="contact">
        <a href="">Get to know me</a>
    </div>
</section>
